
/* top bar */

#top-bar .bi {
    color: rgba(var(--primary-text-color));
}

#top-bar {
    width: 100%;
    background-color: rgba(var(--sidebar-background-color));
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5px solid rgba(var(--border-color));
    display: flex;
    align-items: center;
}

.toggler:hover {
    background-color: rgba(var(--button-hover-background-color));
}

.toggler {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(var(--sidebar-background-color));
    border: 0;
    font-size: 1.7em;
}

.home-link {
    color: rgba(var(--primary-text-color));
    cursor: pointer;
}
/* sidebar */
#sidebarMenu {
    background-color: rgba(var(--sidebar-background-color));
    height: 100%;
    position: fixed;
    left: 0;
    width: 200px;
    z-index: 999;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
}

    #sidebarMenu.collapsed {
        transform: translateX(-200px);
    }

.nav-item .bi {
    font-size: 1.4em;
}

.nav-item ::deep a {
    color: rgba(var(--primary-text-color));
}

    .nav-item ::deep a.active {
        border-bottom: 2px solid rgba(var(--primary-color));
    }

.nav-link i.bi {
    margin-right: 8px;
}

.nav-link:hover .bi-house,
.nav-link.active .bi-house,
.nav-link:hover .bi-stoplights,
.nav-link.active .bi-stoplights,
.nav-link:hover .bi-signpost-split,
.nav-link.active .bi-signpost-split,
.nav-link:hover .bi-info-circle,
.nav-link.active .bi-info-circle {
    display: none;
}

.nav-link:hover .bi-house-fill,
.nav-link.active .bi-house-fill,
.nav-link:hover .bi-stoplights-fill,
.nav-link.active .bi-stoplights-fill,
.nav-link:hover .bi-signpost-split-fill,
.nav-link.active .bi-signpost-split-fill,
.nav-link:hover .bi-info-circle-fill,
.nav-link.active .bi-info-circle-fill {
    display: inline;
}

.bi-house-fill,
.bi-stoplights-fill,
.bi-signpost-split-fill,
.bi-info-circle-fill {
    display: none;
}